body {
    background-image: url("FP\ bg.jpg") ;
    width:100%;
    text-align: center;
  }
  /* Style the navigation bar */
  #nav {
      padding:5px 10px;
      background:#cc9;
      font-family: 'Carter One',sans-serif;
      text-align: center;
      font-size: 20px;
  }
  /* Style the nav links */
  #nav ul {
      margin:0;
      padding:0;
      list-style-type: none;
      overflow: hidden;
  }
  #nav li {
      display:inline;
      margin:0;
      padding:0;
  }
  li {
      float: left;
     }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
     /* Change the link color on hover */
    li a:hover:not(.active) {
      background-color: grey;
    }
    
    .active {
      background-color: #4CAF50;
    }
  * {
    box-sizing: border-box;
  }
  /* Style the menu */
  .menu {
    float: left;
    width: 20%;
  }
  .menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #FFC200;
  }
  a:link, a:visited {
    background-color: #cc9;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Orelega One', cursive;
  }
  
  a:hover, a:active {
    background-color: grey;
  }
  /* arrange the position for each part*/
  .main {
    float: left;
    width: 80%;
    padding: 0 20px;
    overflow: hidden;
  }
  .content {
    background-color: #FFFFF0;
    width: 90%;
    border: 4px solid #cc9;
    padding: 10px;
    margin: 5px;
  }
 
.column2 {
  float: left;
  background-color: #FFFFF0;
  width: 95%;
  border: 10px solid #cc9;
  padding: 40px;
  margin: 15px;
}
/* style the button */
.button1 {
  background:#E1EDCF;
  border: none;
  color: black;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 18px;
}

/* style the button */
.button2 {
  background:#cc9;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Orelega One', cursive;
}

/* style the button */
.button3 {
  background:#cc9;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 1px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Orelega One', cursive;
}
@media only screen and (max-width:768px) {
  /* For tablets: */
  .menu, .main, .column2 {
    width:100%;
  }
}
@media only screen and (max-width:425px) {
  /* For mobile phones: */
  .menu, .main, .column2  {
    width: 100%;
  }
}