body, html {
    margin:0;
    padding:0;
    color:#635B20;
    background-image:url("week\ 2\ backgroud.jpg");
}

#wrap {
    width:100%;
    margin:0 auto;
    background-image: url("wrap\ .jpg");
}

#header {
    padding:5px 10px;
    background-image:url("week\ 2\ backgroud.jpg");
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
}
#nav {
    padding:5px 10px;
    background:#cc9;
    font-family: 'Carter One',sans-serif;
    text-align: center;
    font-size: 26px;
}
#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
    display:inline;
    margin:0;
    padding:0;
}
#main {
    float:left;
    width:62.66%;
    padding:2%;
}
#main-1 {
    float:left;
    width:60%;
    padding:1%;
    font-family:'Potta One', cursive;
    text-align: center;
}

#main-2 {
    float:right;
    width:36%;
    padding:1%;
    font-family:'Potta One', cursive;
    text-align: center;

}

#sidebar {
    float:right;
    width:29.33%;
    padding:2%;
    font-family:'Potta One', cursive;
    text-align: center;
    

}
#footer {
    clear:both;
    padding:5px 10px;
    background:#cc9;
    text-align: center;
}
#footer p {
    margin:0;
}
h1 {
    margin:0;
}
h2 {
    margin:0 0 1em;
}

