body, html {
    margin:0;
    padding:0;
    color:#000;
    background:#cc9;
}

#wrap {
    width:100%;
    margin:0 auto;
    background:#99c;
}

#header {
    padding:5px 10px;
    background:#ddd;
}
#nav {
    padding:5px 10px;
    background:#c99;
}
#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
    display:inline;
    margin:0;
    padding:0;
}
#main {
    float:left;
    width:62.66%;
    padding:2%;
    background:#9c9;
}
#main-1 {
    float:left;
    width:48%;
    padding:1%;
    background:#358982;
}

#main-2 {
    float:right;
    width:48%;
    padding:1%;
    background:#50869e;
}

#sidebar {
    float:right;
    width:29.33%;
    padding:2%;
    background:#99c;

}
#footer {
    clear:both;
    padding:5px 10px;
    background:#cc9;
}
#footer p {
    margin:0;
}
h1 {
    margin:0;
}
h2 {
    margin:0 0 1em;
}

